<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
</head>
<body>
    <div class="rm-container">
        <h1 class="rm-title">Chat</h1>
        <div class="rm-userbox">
            <img src="" alt="" class="userPic">
            <h3 class="username">Harish | <a href="#">Logout | </a><a href="#">More Chat rooms</a></h3>

        </div>
        <div class="rm-roomname">
            <h5>NodeJS</h5>

        </div>
        <div class="rm-message">
            <ul class="message">
                <li>
                    <div class="msgBox">
                        <div class="pic"><img src="">Harish</div>
                    </div>
                    <div class="msg"><p>This is a start!!!!</p></div>
                </li>

            </ul>

        </div>
        <div class="rm-users">
            <ul class="users">
                <li><img src="" alt=""><h5>Harish</h5></li>
            </ul>

        </div>
        <div class="rm-newmessage">
            <input type="text" class="newMessage" autocomplete="off" placeholder="Typr here and press enter">
        </div>
    </div>
    
</body>
</html>